body {
    background-color: #ef5350;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

#container {
    margin: auto;
    position: relative;
    max-width:400px;
}

.main_after {
    display: none;
}

.main_before {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    background: #ef5350;
    color: #fff;
    font-size: 26px;
    height: 80vh;
    margin: auto;
}

.title {
    display: inline-block;
    padding: 20px 0;
    width: 100%;
    font-size: 30px;
}

.content {
    max-height: 120px;
    display: inline-block;
    margin-top: 120px;
}

.btn_white_m {
    color: #363636;
    background-color: #ffffff;
    padding: 20px;
    width: 100px;
    border-radius: 10px;
    margin: 100px auto 0;
}

.btn_white_m:active {
    background-color: #dedddd;
    box-shadow: 2px 2px 2px #b6b5b5;
}

.btn_share {
    background: #ef5350;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    font-size: 10px;
    display: none;
    width: 100px;
    margin: 15px auto 0;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.btn_share img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.btn_share span {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    margin-top: 3px;
}

.menu {
    display: inline-block;
    width: 100%;
    height: 30px;
    font-size: 24px;
}

.by {
    height: 10px;
    font-size: 14px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    color: #363636;
    text-align: center;
    padding: 15px 10px 0 10px;
    font-weight: bold;
}

.banner .desc {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
}

.banner .down {
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    animation: blink 1s step-start infinite;
}

.banner .by_app {
    display: inline-block;
    width: 100%;
    font-size: 0.8rem;
}

.banner .by_app span {
    color: #ef5350;
    font-weight: 700;
    font-size: 0.9rem;
}